.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.headBar {
  background-color: #b6f008; }
  .headBar .score {
    border: 1px solid red;
    color: blue;
    font-weight: bold; }

#theTarget {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  cursor: pointer; }

.hidden, .targetHidden {
  display: none; }

visible, .targetVisible {
  display: block; }

#voidArea {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

.resultWindow .modal-dialog {
  margin-top: 90px; }

.resultWindow .score {
  font-weight: bold;
  font-size: 20px; }

.resultWindow .avgTime {
  font-weight: bold; }
