.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
    background-color: #ececec !important;
}
.headBar{
    background-color: rgba(50, 50, 50, 0.8);
    margin-left: 10px !important;
    margin-right: 10px !important;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 30px;
    *{
        color:white;
        font-weight: bold;
        font-family: monospace;
        font-size: 15pt; 
    }
    .user{
        color: #e3edfc;
    }
    .logo{
         font-size: 16pt;                                              
    }
    .score{
        
        color:#f36060;
        font-weight:bold;
        cursor: pointer;
    }
}
.higherLines {
    line-height: 31px;
}
input, select{
        height: 24px;
    padding: 5px;
    margin: 0px 5px !important;
}
#theTarget{
    position: absolute;
    background:  #009b5a; 
    background: linear-gradient(45deg, #037d4a 0%,#23aa70 100%);
    width: 100px;
    height: 100px; 
    cursor: pointer;
    border-radius: 3px;
}
.hidden, .targetHidden{
    display:none;
}
visible, .targetVisible{
    display: block;
}
#voidArea{
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 0px;
    bottom: 0px;
    right: 0px;

}
.resultWindow{
    .modal-dialog{
        margin-top:90px;
    }
    .score{
        font-weight: bold;
        font-size:20px;
    }
    .avgTime{
        font-weight: bold;
    }
    .modal{
        position: static !important;
    }
}
.resultTable{
    width:100%;
    th{
        font-weight: bold;
        text-align: center;
        border-bottom: 2px solid gray;
    }
    td{
        text-align: center;
    }
    td:nth-child(1),  td:nth-child(2){
        text-align: left;
    }
    
    tr:nth-child(even) {
        background-color: #eee; 
    }
    tbody tr:hover{
        background-color: #edfcf0;
    }
    .me *{
        font-weight: bold;
    }
}